body{
  height: 100vh;
  margin: 0; 
  padding: 0;
 }

/* header css */
.header {
  background-color: #1F2937;
  display: flex;
  padding: 24px 128px 24px 128px;
}

.icons {
  flex: 1 0 0;
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.header-link {
  font-size: 18px;
  color: #E5E7EB;
}

.coffee-cup {
  filter: brightness(0) invert(1);
}

.route {
  filter: brightness(0) invert(1);
}

/* section 1 css */
.section-one {
  background-color: #1F2937;
  display: flex;
  padding: 24px 128px 24px 128px;
  color: #E5E7EB;
}

.s1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cafe {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.cafe-image {
  max-width: 500px;
}

.title-one {
  font-size: 48px;
}

.sub-title {
  font-size: 24px;
  width: 600px;
  flex-basis: 100;
}

.button-div-wrapper {
  display: flex;
  justify-content: center;
}

.b1 {
  background-color: blue;
  font-size: white;
  flex-grow: 0;
  font-weight: 800;
  height: 64px;
  color:#ffffff;
  width: 100px;
  height: 32px;
  border-radius: 12px;
}

/* section 2 css */
.title-two {
  font-size: 48px;
  display: flex;
  justify-content: center;
  padding: 24px 0px 0px 0px;
  margin-bottom: 24px;
}

.container-squares {
  display: flex;
  justify-content: center;
  gap: 64px;
  flex-wrap: wrap;
}

.pands1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 160px;
  align-items: center;
  gap: 16px;
}

.pands2 {
  width: 120px;
  border: blue;
}

/* section 3 css */
.section-three {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  padding: 24px 200px 12px 200px;
}

.author {
  align-self: flex-end;
  padding: 24px 200px 24px 200px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}