body{
  height: 100vh;
  margin: 0; 
  padding 0;
 }

/* header css */
.header {
  background-color: #1F2937;
  display: flex;
}

.icons {
  flex: 1 0 0
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-link {
  font-size: 18px;
  color: #E5E7EB;
}

.coffee-cup {
  filter: brightness(0) invert(1);
}

.route {
  filter: brightness(0) invert(1);
}